.btn {
  position: relative;
  z-index: 1;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--btn-text-color);
  width: 15rem;
  height: 4.5rem;
  background: var(--accent-color);
  outline: 1px solid var(--accent-color);
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    var(--bg-primary) 50%
  );
  background-size: 228%;
  transition: all 0.4s;
  background-position: 179%;
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.05);
  border-radius: 0.3rem;

  &:hover,
  &:active {
    background-position: 100%;
    transform: translateX(0.5rem);
    color: var(--btn-text-color-hover);
  }
  &:hover path {
    stroke: var(--btn-text-color-hover);
  }

  span {
    margin-left: 1rem;
    margin-top: 0.8rem;
    transition: margin-left 0.4s ease-out;
    animation: bounce 1s;
    animation-iteration-count: infinite;
  }
}

@keyframes bounce {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(-2px);
  }
}
