.all-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  width: 100%;
  justify-content: space-between;
  // grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  // column-gap: 7.5rem;
  // row-gap: 8.5rem;

  // width: 100%;
  // display: flex;
  // justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .all-projects {
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .all-projects {
  }
}
