.container {
  font-family: "Lato", sans-serif;
  width: 100%;
  position: relative;
  box-shadow: var(--box-shadow);
  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 22rem;
    background-color: var(--bg-tertiary);
    z-index: 1;
    // transition: all 0.7s;
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--bg-white);
      color: var(--text-tertiary);
      font-size: 3rem;
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
    }
  }
  .list {
    width: 100%;
    height: 15rem;
    background-color: var(--bg-white);
    color: var(--text-tertiary);
    font-size: 1.7rem;
    padding: 3rem 4rem;
    letter-spacing: 1px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    .dots {
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      & > div {
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        margin: 0 0.4rem;
        background-color: var(--text-tertiary);
        cursor: pointer;
      }
      .active {
        background-color: var(--accent-color);
      }
    }
    & > svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 2rem;
      width: 2rem;
      cursor: pointer;
      &:nth-child(1) {
        left: 2px;
      }
      &:nth-child(2) {
        right: 2px;
      }
    }
    .slider {
      ul {
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        li {
          display: flex;
          align-items: center;
          svg {
            height: 2rem;
            width: 2rem;
            margin-right: 0.75rem;
          }
        }
      }
      .visible {
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .container {
    .banner {
      height: 15rem;
      .icon {
        font-size: 2rem;
        height: 5rem;
        width: 5rem;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .container {
    display: flex;
    .banner {
      height: 22rem;
      width: 22rem;
    }
    .list {
      display: flex;
      align-items: center;
      height: 22rem;
      width: 22rem;
      &::after {
        top: 50%;
        left: 21rem;
        height: 3rem;
        width: 0.3rem;
        transform: translateY(-50%);
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .container {
    .banner {
      height: 18rem;
      width: 18rem;
    }
    .list {
      font-size: 1.3rem;
      height: 18rem;
      width: 18rem;
    }
  }
}

@media screen and (max-width: 380px) {
  .container {
    .banner {
      height: 14rem;
      width: 14rem;
    }
    .list {
      padding: 2.5rem;
      height: 14rem;
      width: 14rem;
    }
  }
}
