.card {
  font-family: "Lato", sans-serif;

  .front {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22rem;
    height: 22rem;
    background-color: var(--bg-tertiary);
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: all 0.7s;
    box-shadow: 0.6rem 0.4rem 1.6rem 0.2rem rgba(0, 0, 0, 0.25);

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--bg-white);
      color: var(--text-tertiary);
      font-size: 3rem;
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
    }
  }

  .back {
    width: 21.8rem;
    height: 15rem;
    background-color: var(--bg-white);
    color: var(--text-tertiary);
    font-size: 1.7rem;
    padding: 2rem;
    margin-left: 0.2rem;
    letter-spacing: 1px;
    transform: translateY(-130px);
    position: relative;
    z-index: 0;
    transition: all 0.8s;
    box-shadow: 6px 4px 16px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 0.4rem;
      bottom: 0.5rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--bg-tertiary);
    }

    .content {
      ul {
        li {
          display: flex;
          align-items: center;

          svg {
            height: 1.6rem;
            width: 1.6rem;
            margin-right: 0.75rem;
          }
        }
      }
    }
  }

  &:hover .back {
    transform: translateY(0);
  }
}
