.body {
  perspective: 150rem;
  position: relative;
  height: 35rem;
  z-index: 10;

  & > div {
    background-color: var(--bg-secondary);
    position: absolute;
    top: 0;
    left: 0;
    height: 35rem;
    width: 100%;
    border-radius: 0.3rem;
    transition: all 0.9s ease;
    backface-visibility: hidden;
    box-shadow: 6px 4px 16px 2px rgba(0, 0, 0, 0.25);
    // padding-bottom: 8rem;
  }

  .front {
    color: var(--text-primary);
    padding: 2rem;

    .image {
      background-color: var(--accent-color);
      height: 16rem;
      border-radius: 0.3rem;
      // background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
      // background-image: linear-gradient(to right bottom, #43fa8c, #43d9fa);
    }

    .stack {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      font-size: 1.2rem;

      span {
        font-family: "Anonymous Pro", monospace;
        align-self: flex-start;
        // margin-bottom: 1rem;
        border-radius: 1rem;
      }
    }
  }

  .back {
    transform: rotateY(180deg);
    // background-image: linear-gradient(to right bottom, #2972ff, #7343fa);

    .description {
      padding: 2rem;
      height: 70%;

      hr {
        // margin: 0;
        margin: 1rem 0;
        width: 4rem;
        border: 0.7px solid var(--accent-color);
      }

      h3 {
        color: var(--bg-white);
      }

      p {
        font-size: 1.4rem;
      }
    }

    .btn {
      margin-top: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--bg-white);
        background-color: transparent;
        width: 10rem;
        height: 3rem;
        color: var(--text-white);
        font-weight: 400;
        font-size: 1.3rem;

        &:not(:last-child) {
          margin-bottom: 0.8rem;
        }
      }
    }
  }

  &:hover .front {
    transform: rotateY(-180deg);
  }

  &:hover .back {
    transform: rotateY(0);
  }

  @keyframes bounce {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(6px);
    }
    100% {
      transform: translateX(-2px);
    }
  }
}
