.content-wrapper {
  padding: 0 5rem;
  margin-left: 10rem;
  background-color: var(--bg-primary);
}

@media screen and (max-width: 760px) {
  .content-wrapper {
    margin-left: 8rem;
  }
}

@media screen and (max-width: 480px) {
  .content-wrapper {
    margin-left: 0;
    padding: 0 3rem;
  }
}
