.header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 90rem;
  margin: 0 auto;

  h4 {
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    color: var(--text-primary);
  }

  .intro {
    h1 {
      margin-left: -0.4rem;
      color: var(--text-white);
    }
  }

  .tag-line {
    font-family: "Lato", sans-serif;
    position: relative;

    h1 {
      color: var(--text-primary);
      line-height: 9rem;
    }
  }

  .sub {
    position: relative;

    h3 {
      color: var(--text-primary);
      font-size: 20px;
      line-height: 36px;
    }
  }
}
