.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: var(--bg-secondary);
  width: 200px;
  height: 100vh;
  text-align: center;

  .logo {
    margin: 2rem;
    font-style: italic;
    a {
      font-size: 3rem;
      color: var(--text-secondary);
    }
  }

  ul {
    font-size: 1.6rem;
    // text-align: left;
    margin-top: 5rem;
    color: var(--text-white);

    li {
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
      }

      a {
        display: flex;
        align-items: center;
        color: inherit;
        padding: 1rem 2.5rem;
        width: 100%;
        transition: all 0.2s;

        &:hover {
          color: var(--text-secondary);
        }
      }
    }
  }

  .footer {
    margin-top: auto;
    padding: 2rem;
    text-transform: uppercase;
  }
}
