.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: var(--bg-secondary);
  width: 200px;
  height: 100vh;
  text-align: center;
  z-index: 2;

  .logo {
    margin: 2rem;
    font-style: italic;
    a {
      font-size: 3rem;
      color: var(--text-secondary);
    }
  }

  ul {
    font-size: 1.6rem;
    // text-align: left;
    margin-top: 5rem;
    color: var(--text-white);
  }

  .footer {
    margin-top: auto;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    svg {
      stroke: var(--text-white);
      transition: all 0.3s;

      &:hover {
        stroke: var(--bg-tertiary);
        transform: scale(1.1);
      }
    }
  }
}
