.body {
  position: relative;
  display: flex;
  justify-content: space-between;
  .text {
    width: 47%;
    p {
      span {
        a {
          position: relative;
          color: var(--accent-color);
          transition: all 0.3s;
          &::before {
            content: "";
            display: inline-block;
            position: absolute;
            left: -300px;
            top: 45px;
            width: 0;
            height: 0.1rem;
            background-color: var(--accent-color);
            transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
          }
          &:hover::before {
            width: 14.8rem;
          }
        }
      }
    }
  }
  .form {
    width: 47%;
    &-group {
      display: flex;
      flex-direction: column;
      width: 100%;
      input,
      textarea {
        outline: none;
        font-size: 1.4rem;
        color: var(--text-primary);
        background-color: var(--bg-tertiary);
        border: none;
        transition: all 0.3s;
        border-bottom: 2px solid transparent;
        font-family: inherit;
        &::-webkit-input-placeholder {
          color: var(--text-primary);
        }
        &:focus {
          border-bottom: 2px solid var(--accent-color);
          box-shadow: 0 1rem 2rem rgba($color: var(--bg-white), $alpha: 0.1);
          &:invalid {
            border-bottom: 2px solid var(--bg-white);
          }
        }
      }
      input {
        display: block;
        width: 100%;
        padding: 1rem 2rem;
      }
      label {
        font-size: 1.4rem;
        padding: 0 2rem;
        margin-bottom: 1.5rem;
        transition: all 0.3s;
        color: var(--text-primary);
      }
      input:placeholder-shown + label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-3rem);
      }
      textarea {
        width: 100%;
        height: 12rem;
        padding: 1rem 2rem;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4rem;
        margin-left: auto;
        color: inherit;
        font-family: inherit;
        width: 12rem;
        height: 4.5rem;
        background: var(--accent-color);
        background-position: 179%;
        box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.05);
        border-radius: 0.3rem;
        transition: all 0.4s;
        &:hover,
        &:active {
          transform: translateX(-0.5rem);
        }
      }
    }
  }
  .alert {
    border-radius: 0.3rem;
    position: absolute;
    padding: 0.8rem 2rem;
    right: 0;
    bottom: -7rem;
    transform: translateX(100%);
    transition: all 0.5s;
    box-shadow: 0.6rem 0.4rem 1.6rem 0.2rem rgba(0, 0, 0, 0.25);
  }
  .error {
    background-color: var(--bg-tertiary);
    transform: translateX(0);
  }
  .success {
    background-color: var(--accent-color);
    transform: translateX(0);
  }
}

@media screen and (max-width: 1024px) {
  .body {
    .text {
      p {
        span {
          a {
            &:hover::before {
              width: 16rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 781px) {
  .body {
    .text {
      p {
        span {
          a {
            &::before {
              width: 0;
              height: 0;
            }
            &:hover::before {
              width: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 781px) {
  .body {
    flex-direction: column;
    .text {
      width: 100%;
      margin-bottom: 2rem;
    }
    .form {
      width: 100%;
    }
  }
}
