.social-icons {
  width: 14rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    stroke: var(--text-white);
    transition: all 0.3s;
    stroke: var(--text-primary);

    &:hover {
      stroke: var(--accent-color);
      transform: scale(1.1);
    }
  }
}
