:root {
  --white: #ffffff;
  --black: #000000;
  --bg-primary: #222222;
  --bg-secondary: #1f1f1f;
  --text-primary: #c4c4c4;
  --text-secondary: #a22c29;

  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #f4f2f2;
  --color-grey-light-2: #f0eeee;
  --color-grey-light-3: #cccccc;
  --color-grey-dark-1: #777777;
  --color-grey-dark-2: #333333;
  --color-grey-dark-3: #111111;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.6);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 66.6667%;
}

body {
  font-size: 1.4rem;
  font-family: "Anonymous Pro", monospace;
  // font-family: "Lato", sans-serif;
  line-height: 1.6;
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background-color: #626d58;
}

::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1e2425;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

button,
button:visited {
  border: none;
  background: transparent;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

::selection {
  background-color: var(--color-primary-dark);
  color: var(--white);
}
