.body {
  display: flex;
  justify-content: space-between;

  .text {
    font-size: 1.5rem;
    width: 47rem;
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 40.7rem;
      height: 31.9rem;
    }
  }

  a {
    margin-top: 2rem;
  }
}
