.section {
  padding: 12rem 9rem;
  position: relative;
  overflow: hidden;

  .heading {
    text-align: center;
    margin-bottom: 7rem;

    h2,
    h3 {
      text-transform: capitalize;
    }
  }

  hr {
    margin-top: 1rem !important;
    width: 7rem;
    margin: 0 auto;
    border: 1px solid var(--bg-purple);
  }

  .content {
    width: 80%;
    margin: 0 auto;
  }
}
