.li {
  position: relative;
  font-size: 1.1rem;
  color: var(--text-secondary);

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.4rem;
    transition: transform 0.2s, width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.2s;
  }

  &::before {
    background-color: var(--bg-tertiary);
    transform: scaleY(0);
  }

  &::after {
    background-color: var(--accent-color);
    transform: scaleY(0);
  }

  &:hover {
    color: var(--text-white);
  }

  &:hover::before {
    transform: scaleY(1);
    width: 100%;
  }

  &:hover::after {
    transform: scaleY(1);
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  a {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: inherit;
    padding: 1rem 0;
    width: 100%;
    transition: all 0.2s;
    text-transform: capitalize;
  }
}

.active {
  color: var(--text-white);
}

.active::before {
  transform: scaleY(1);
  width: 100%;
}

.active::after {
  transform: scaleY(1);
}
